body {
    font-family: Poppins, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 100%;
    height: auto;
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
  }

.nav_links {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.pricing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card {
    width: 100%;
    flex-flow: column nowrap;
}

.gallery img{
    width: 100%;
    flex-direction: column;
}

@media all and (min-width: 700px){
    #logo{
        width: 400px;
        height: auto;
    }

    header {
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .nav_links {
        flex-wrap: nowrap;
        flex-direction: row;
        padding-top: 20px;
        padding-right: 20px;
    }

    .card {
        width: 300px; 
        height: auto;
    }

    .gallery img{
        width: 300px;
        height: auto;
    }

    

}

@media (prefers-reduced-motion) {
    #logo {
        animation: none;
    }
}

